@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tobler-solid';
  src:
    url('../src/assets/fonts/tobler-solid.woff2') format('woff2'),
    url('../src/assets/fonts/tobler-solid.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BureauEagleFBBook';
  src:
    url('../src/assets/fonts/bureaueaglefbbook.woff2') format('woff2'),
    url('../src/assets/fonts/bureaueaglefbbook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins-regular';
  src:
    url('../src/assets/fonts/poppins-regular.woff2') format('woff2'),
    url('../src/assets/fonts/poppins-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-tolbersolid: 'tobler-solid';
  --ff-bureaueagle: 'BureauEagleFBBook';
  --ff-poppinsregular: 'poppins-regular';
}

.headTitle {
  font-family: var(--ff-tolbersolid);
}

.instructionsFont {
  font-family: var(--ff-bureaueagle);
}

.poppinsFont {
  font-family: var(--ff-poppinsregular);
}

.background-texture {
  background-image: url(./assets/Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customScrollbar::-webkit-scrollbar {
  width: 10px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #25252527;
  border-radius: 2px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #fff;
}

.bell {
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@keyframes ring {
  0%,
  43%,
  100% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
}

/* TEXT SHADOW AND STROKE */
.header--pushDown {
  text-shadow:
    1px 1px 0 #f9a949,
    0px 1px 0 #f9a949,
    -1px -1px 0 #f9a949,
    -1px -1px 0 #f9a949,
    -1px 1px 0 #f9a949,
    1px -1px 0 #f9a949,
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media screen and (min-aspect-ratio: 13/9) and (max-height: 460px) {
  .landscape-screen {
    display: block;
  }
}

.react-datepicker__header {
  background-color: #f9b8c8;
  line-height: 32px;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
  border-radius: 6px;
  height: 32px;
  line-height: 32px;
}

.react-datepicker__navigation-icon::before {
  border-color: #de231f;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: block;
  height: 9px;
  position: absolute;
  top: 16px;
  width: 9px;
}
